:root {
  --background-body: #202b38;
  --background: #161f27;
  --background-alt: #1a242f;
  --selection: #1c76c5;
  --text-main: #dbdbdb;
  --text-bright: #fff;
  --text-muted: #a9b1ba;
  --links: #41adff;
  --focus: #0096bfab;
  --border: #526980;
  --code: #ffbe85;
  --animation-duration: 0.1s;
  --button-base: #0c151c;
  --button-hover: #040a0f;
  --scrollbar-thumb: var(--button-hover);
  --scrollbar-thumb-hover: rgb(0, 0, 0);
  --form-placeholder: #a9a9a9;
  --form-text: #fff;
  --variable: #d941e2;
  --highlight: #efdb43;
  --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
}

html {
  scrollbar-color: #040a0f #202b38;
  scrollbar-color: var(--scrollbar-thumb) var(--background-body);
}

body {
  background-image: url("/images/IMG_9712.JPG");
  background-size: cover;
  background: #202b38;
  background: var(--background-body);
}

body {
  background-image: url("/images/IMG_9712.JPG");
  background-size: cover;
  color: #dbdbdb;
  color: var(--text-main);
}

button {
  transition:
    background-color 0.1s linear,
    border-color 0.1s linear,
    color 0.1s linear,
    box-shadow 0.1s linear,
    transform 0.1s ease;
  transition:
    background-color var(--animation-duration) linear,
    border-color var(--animation-duration) linear,
    color var(--animation-duration) linear,
    box-shadow var(--animation-duration) linear,
    transform var(--animation-duration) ease;
}

input {
  transition:
    background-color 0.1s linear,
    border-color 0.1s linear,
    color 0.1s linear,
    box-shadow 0.1s linear,
    transform 0.1s ease;
  transition:
    background-color var(--animation-duration) linear,
    border-color var(--animation-duration) linear,
    color var(--animation-duration) linear,
    box-shadow var(--animation-duration) linear,
    transform var(--animation-duration) ease;
}

textarea {
  transition:
    background-color 0.1s linear,
    border-color 0.1s linear,
    color 0.1s linear,
    box-shadow 0.1s linear,
    transform 0.1s ease;
  transition:
    background-color var(--animation-duration) linear,
    border-color var(--animation-duration) linear,
    color var(--animation-duration) linear,
    box-shadow var(--animation-duration) linear,
    transform var(--animation-duration) ease;
  }

h1 {
  font-size: 2.2em;
  margin-top: 0;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 12px;
  margin-top: 24px;
}


h1 {
  color: #fff;
  color: var(--text-bright);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  color: #fff;
  color: var(--text-bright);
  text-align: center;
}

h3 {
  color: #fff;
  color: var(--text-bright);
}

h4 {
  color: #fff;
  color: var(--text-bright);
}

h5 {
  color: #fff;
  color: var(--text-bright);
}

h6 {
  color: #fff;
  color: var(--text-bright);
}

strong {
  color: #fff;
  color: var(--text-bright);
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
  font-weight: 600;
}

q::before {
  content: none;
}

q::after {
  content: none;
}

blockquote {
  border-left: 4px solid #0096bfab;
  border-left: 4px solid var(--focus);
}

q {
  border-left: 4px solid #0096bfab;
  border-left: 4px solid var(--focus);
}

blockquote > footer {
  font-style: normal;
  border: 0;
}

blockquote cite {
  font-style: normal;
}

address {
  font-style: normal;
}

a[href^='mailto\:']::before {
  content: '📧 ';
}

a[href^='tel\:']::before {
  content: '📞 ';
}

a[href^='sms\:']::before {
  content: '💬 ';
}

mark {
  background-color: #efdb43;
  background-color: var(--highlight);
}

a > code,
a > strong {
  color: inherit;
}

button,
select,
input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='checkbox'],
input[type='range'],
input[type='radio'] {
  cursor: pointer;
}

input,
select {
  display: block;
}

[type='checkbox'],
[type='radio'] {
  display: initial;
}

input {
  background-color: #161f27;
  background-color: var(--background);
  color: #fff;
  color: var(--form-text);
  }

button {
  background-color: #161f27;
  background-color: var(--background);
  color: #fff;
  color: var(--form-text);
}

textarea {
  background-color: #161f27;
  background-color: var(--background);
  color: #fff;
  color: var(--form-text);
}

select {
  background-color: #161f27;
  background-color: var(--background);
  color: #fff;
  color: var(--form-text);
}

button {
  background-color: #0c151c;
  background-color: var(--button-base);
}

input[type='submit'] {
  background-color: #0c151c;
  background-color: var(--button-base);
}

input[type='reset'] {
  background-color: #0c151c;
  background-color: var(--button-base);
}

input[type='button'] {
  background-color: #0c151c;
  background-color: var(--button-base);
}


button:hover {
  background: #040a0f;
  background: var(--button-hover);
}

input[type='submit']:hover {
  background: #040a0f;
  background: var(--button-hover);
}

input[type='reset']:hover {
  background: #040a0f;
  background: var(--button-hover);
}

input[type='button']:hover {
  background: #040a0f;
  background: var(--button-hover);
}

input[type='color'] {
  min-height: 2rem;
  padding: 8px;
  cursor: pointer;
}

input[type='checkbox'],
input[type='radio'] {
  height: 1em;
  width: 1em;
}

input[type='radio'] {
  border-radius: 100%;
}

input {
  vertical-align: top;
}

label {
  vertical-align: middle;
  margin-bottom: 4px;
  display: inline-block;
}

input:not([type='checkbox']):not([type='radio']),
input[type='range'],
select,
button,
textarea {
  -webkit-appearance: none;
}

textarea {
  display: block;
  margin-right: 0;
  box-sizing: border-box;
  resize: vertical;
}

textarea:not([cols]) {
  width: 100%;
}

textarea:not([rows]) {
  min-height: 40px;
  height: 140px;
}

select {
  background: #161f27 url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E") calc(100% - 12px) 50% / 12px no-repeat;
  background: var(--background) var(--select-arrow) calc(100% - 12px) 50% / 12px no-repeat;
}

select::-ms-expand {
  display: none;
}

select[multiple] {
  padding-right: 10px;
  background-image: none;
  overflow-y: auto;
}

input:focus {
  box-shadow: 0 0 0 2px #0096bfab;
  box-shadow: 0 0 0 2px var(--focus);
}

select:focus {
  box-shadow: 0 0 0 2px #0096bfab;
  box-shadow: 0 0 0 2px var(--focus);
}

button:focus {
  box-shadow: 0 0 0 2px #0096bfab;
  box-shadow: 0 0 0 2px var(--focus);
}

textarea:focus {
  box-shadow: 0 0 0 2px #0096bfab;
  box-shadow: 0 0 0 2px var(--focus);
}

input[type='checkbox']:active,
input[type='radio']:active,
input[type='submit']:active,
input[type='reset']:active,
input[type='button']:active,
input[type='range']:active,
button:active {
  transform: translateY(2px);
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

::-moz-placeholder {
  color: #a9a9a9;
  color: var(--form-placeholder);
}

:-ms-input-placeholder {
  color: #a9a9a9;
  color: var(--form-placeholder);
}

::-ms-input-placeholder {
  color: #a9a9a9;
  color: var(--form-placeholder);
}

::placeholder {
  color: #a9a9a9;
  color: var(--form-placeholder);
}

fieldset {
  border: 1px #0096bfab solid;
  border: 1px var(--focus) solid;
}

legend {
  font-size: 0.9em;
  font-weight: 600;
}

input[type='range'] {
  margin: 10px 0;
  padding: 10px 0;
  background: transparent;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  background: #161f27;
  background: var(--background);
}

input[type='range']::-webkit-slider-thumb {
  background: #526980;
  background: var(--border);
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #161f27;
  background: var(--background);
}

input[type='range']::-moz-range-track {
  background: #161f27;
  background: var(--background);
}

input[type='range']::-moz-range-thumb {
  background: #526980;
  background: var(--border);
}

input[type='range']::-ms-track {
  width: 100%;
  height: 9.5px;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type='range']::-ms-fill-lower {
  background: #161f27;
  background: var(--background);
}

input[type='range']::-ms-fill-upper {
  background: #161f27;
  background: var(--background);
}

input[type='range']::-ms-thumb {
  background: #526980;
  background: var(--border);
}

input[type='range']:focus::-ms-fill-lower {
  background: #161f27;
  background: var(--background);
}

input[type='range']:focus::-ms-fill-upper {
  background: #161f27;
  background: var(--background);
}

a {
  color: #41adff;
  color: var(--links);
}

a:hover {
  text-decoration: underline;
}

code {
  color: #ffbe85;
  color: var(--code);
}

code {
  background: #161f27;
  background: var(--background);
}

samp {
  color: #ffbe85;
  color: var(--code);
}

samp {
  background: #161f27;
  background: var(--background);
}

time {
  color: #ffbe85;
  color: var(--code);
}

time {
  background: #161f27;
  background: var(--background);
}

pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}

var {
  color: #d941e2;
  color: var(--variable);
}

kbd {
  color: #dbdbdb;
  color: var(--text-main);
}

kbd {
  border: 1px solid #526980;
  border: 1px solid var(--border);
}

kbd {
  background: #161f27;
  background: var(--background);
}

img,
video {
  max-width: 100%;
  height: auto;
}

hr {
  border-top: 1px solid #526980;
  border-top: 1px solid var(--border);
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
  table-layout: fixed;
}

table caption {
  text-align: left;
}

td,
th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

thead {
  border-bottom: 1px solid #526980;
  border-bottom: 1px solid var(--border);
}

tfoot {
  border-top: 1px solid #526980;
  border-top: 1px solid var(--border);
}

tbody tr:nth-child(even) {
  background-color: #161f27;
  background-color: var(--background);
}

tbody tr:nth-child(even) button {
  background-color: #1a242f;
  background-color: var(--background-alt);
}

tbody tr:nth-child(even) button:hover {
  background-color: #202b38;
  background-color: var(--background-body);
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #161f27;
  background: var(--background);
  }

::-webkit-scrollbar-thumb {
  background: #040a0f;
  background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb {
  background: #040a0f;
  background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
  background: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
  background: var(--scrollbar-thumb-hover);
}

::-moz-selection {
  color: #fff;
  color: var(--text-bright);
}

::selection {
  color: #fff;
  color: var(--text-bright);
}

::-moz-selection {
  background-color: #1c76c5;
  background-color: var(--selection);
}

::selection {
  background-color: #1c76c5;
  background-color: var(--selection);
}

details {
  background-color: #1a242f;
  background-color: var(--background-alt);
}

details[open] {
  padding: 10px;
}

details > :last-child {
  margin-bottom: 0;
}

details[open] summary {
  margin-bottom: 10px;
}

summary {
  background-color: #161f27;
  background-color: var(--background);
}

summary:hover,
summary:focus {
  text-decoration: underline;
}

details > :not(summary) {
  margin-top: 0;
}

summary::-webkit-details-marker {
  color: #dbdbdb;
  color: var(--text-main);
}

dialog {
  border-color: #526980;
  border-color: var(--border);
}

dialog {
  color: #dbdbdb;
  color: var(--text-main);
}

dialog {
  background-color: #1a242f;
  background-color: var(--background-alt);
}

dialog > header:first-child {
  background-color: #161f27;
  background-color: var(--background);
}

dialog::-webkit-backdrop {
  background: #0000009c;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

dialog::backdrop {
  background: #0000009c;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

footer {
  color: #a9b1ba;
  color: var(--text-muted);
}

footer {
  border-top: 1px solid #526980;
  border-top: 1px solid var(--border);
}

body > footer {
  margin-top: 40px;
}

@media print {
  body,
  pre,
  code,
  summary,
  details,
  button,
  input,
  textarea {
    background-color: #fff;
  }

  button,
  input,
  textarea {
    border: 1px solid #000;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  code,
  button,
  input,
  textarea,
  footer,
  summary,
  strong {
    color: #000;
  }

  summary::marker {
    color: #000;
  }

  summary::-webkit-details-marker {
    color: #000;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  a {
    color: #00f;
    text-decoration: underline;
  }
}


.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 4px 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

// vars and keyframes
$delay: .5s;
$menu-items: 3;

@keyframes drop {
  from {
    top: 0px;
  }
  70% {
    top: 165px;
    animation-timing-function: ease-in;
  }
  to {
    top: 150px;
    animation-timing-function: ease-out;
  }
}

html {
  width: 100% ;
  height: 100% ;
  background: radial-gradient(center, #FFF 0%, #CCC 70%, #CCC 100%) no-repeat;
}

.wrapper {
  position: relative;
  right: 300px;
  bottom: 50px;
  width: 40px;
  height: 50px;
  margin: 10px auto;
}

.button2 {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #2E3F47;
    z-index: 2;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button-64 {
align-items: center;
background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
border: 0;
border-radius: 8px;
box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
box-sizing: border-box;
color: #FFFFFF;
display: flex;
font-family: Phantomsans, sans-serif;
font-size: 20px;
justify-content: center;
line-height: 1em;
max-width: 40%;
min-width: 140px;
padding: 3px;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
cursor: pointer;
}

.button-64:active,
.button-64:hover {
outline: 0;
}

.button-64 span {
background-color: rgb(5, 6, 45);
padding: 16px 24px;
border-radius: 6px;
width: 100%;
height: 100%;
transition: 300ms;
}

.button-64:hover span {
background: none;
}

@media (min-width: 768px) {
.button-64 {
font-size: 24px;
min-width: 196px;
}
}

.button2--hidden {
    display: none;
}

.button2.active:hover {
    background: var(--button-hover);
}

.button2.active .button__line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.button2.active .button__line:nth-child(2) {
    opacity: 0;
}

.button2.active .button__line:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

.button__line {
    background: #ccc;
    width: 40px;
    height: 3px;

    &:not(:first-child) {
        margin-top: 15px;
    }
}

.menu__list {
    text-align: center;
    width: 100%;
    padding-left: 0;
}

.menu__list__item {
    position: relative;
    list-style: none;
    padding-bottom: 15px;
    top: 0px;
}

.menu__list__item a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

.menu__list__item a:hover {
    color: black;
    transform: scale(1.23);
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.3),
        0 10px 20px 5px rgba(0, 0, 0, 0.07),
        -3px -3px 10px 3px rgba(255, 255, 255, 0.3);

}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: relative;
    background-color: #009999;
    margin: 10% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px; /* Added border-radius for rounded corners */
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    margin: 0px;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    color: #fff; /* Set close button color to white */
}

.close:hover {
    color: #000;
}

.menu-links {
    text-align: center;
    padding: 20px;
}

/* Style for the button to open the modal */
#openModalButton {
    cursor: pointer;
    background-color: #007575;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px; /* Added border-radius for rounded corners */
    margin-bottom: 20px;
}

#openModalButton:hover {
    background-color: #2E3F47;
    transform: scale(1.23);
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.3),
        0 10px 20px 5px rgba(0, 0, 0, 0.07),
        -3px -3px 10px 3px rgba(255, 255, 255, 0.3);
}

#medications-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--tertiary-color);
    background: rgba(0, 0, 0, 0.7);
      transition: opacity 0.3s ease-in-out;
}

#notifications-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--tertiary-color);
    background: rgba(0, 0, 0, 0.7);
      transition: opacity 0.3s ease-in-out;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}

.card {
    color: var(--primary-color);
    border: 1px solid #e0e0e0;
    text-align: center;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.med-menu-card {
    color: var(--primary-color);
    border: 1px solid #e0e0e0;
    text-align: center;
    background-color : black;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.healthChart-card {
    background-color: rgba(0, 0, 0, .95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
    color: white; /* Set the default text color for the medication card */
    font-family: 'Times New Roman', Times, serif;
}

#medication-list-display {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust alignment */
    gap: 20px;
    transition: transform 0.2s ease-in-out;
}

.medication-card:hover {
    transform: scale(1.23);
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.4),
        0 10px 20px 5px rgba(0, 0, 0, 0.08),
        -3px -3px 10px 3px rgba(255, 255, 255, 0.4);

    background-size: cover;
    background-position: center;

}

.medication-card {
    position: relative;
    background-color: rgba(0, 0, 0, .6);
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
    color: white; /* Set the default text color for the medication card */
    font-family: 'Times New Roman', Times, serif;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.medication-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/medico.jpeg");
    background-size: cover;
    background-position: center center;
    opacity: 0.4;
    border-radius: 10px;
    z-index: -1;
    transition: opacity 0.2s ease-in-out;
}

.medication-card:hover::before {
    opacity: 0.35; /* Adjust the hover opacity as needed */
}

.medication-card h2.medication-name {
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 8px;
    color: white; /* Set the text color for the medication name */
}

.medication-card h3.medication-info {
    font-size: 1.1em;
    margin-bottom: 12px;
    color: white; /* Set the text color for the medication info */
}


#notification-list-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust alignment */
  gap: 20px;
}

.notification-card {
    background-color: rgba(0, 0, 0, .8); /* Transparent white background */
    text-align: center;
    max-width: 50%;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0); /* Subtle shadow */
    margin-bottom: 20px;
    padding: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: bold;
}

.notification-background-card {
    background-image: url("/images/3275630-1281620543.jpg");
    opacity: 0.7;
    background-size: cover;
    background-position: center center;
    border: 1px solid #e0e0e0; /* Light gray border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 10px; /* Rounded corners */
    margin: auto; /* Center horizontally */
    margin-top: 20px; /* Adjust as needed for vertical centering */
    padding: 20px;
    transition: transform 0.2s ease-in-out;

    /* Set max-width and min-height based on your preferences */
    max-width: 100%; /* Card won't exceed the width of its container */
    min-height: 500px; /* Set a minimum height */
    width: 80%; /* Adjust this based on your design */
    height: auto; /* Height will adjust based on the content and aspect ratio */
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
}

.notification-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.no-medications-text {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    display: block;
    width: 100%;
}

.remove-notification-button {
    background-color: #009999;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.remove-button-container {
    margin-left: 8px;
}

.medication-name {
    text-align: center;
    font-size: 1.8em; /* Larger font size for medication name */
    font-weight: 600; /* Slightly bolder */
    margin-bottom: 8px; /* Smaller margin */
    color: #333; /* Darker text color */
}

.medication-info {
    font-size: 1.1em; /* Slightly smaller font size for medication info */
    margin-bottom: 12px; /* Increase margin for separation */
    color: #555;
}

.alarm-time {
    text-align: center;
    font-size: 1em;
    color: #009999;
}

.error {
    color: var(--error-color);
    border: 1px solid var(--error-color);
    padding: 8px;
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}


.form-field {
    margin-bottom: 20px;
    text-align: center;
}

/* Style for the submit button */
#add-medication-form input[type="submit"] {
    background-color: #009999;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-medication-form input[type="submit"]:hover {
    background-color: #007575;
    transform: scale(1.23);
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.4),
        0 10px 20px 5px rgba(0, 0, 0, 0.08),
        -3px -3px 10px 3px rgba(255, 255, 255, 0.4);
}

#remove-medication-form input[type="submit"] {
    background-color: #009999;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#remove-medication-form input[type="submit"]:hover {
    background-color: #007575;
    transform: scale(1.23);
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.4),
        0 10px 20px 5px rgba(0, 0, 0, 0.08),
        -3px -3px 10px 3px rgba(255, 255, 255, 0.4);
}

#update-medication-info-form input[type="submit"] {
    background-color: #009999;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#update-medication-info-form input[type="submit"]:hover {
    background-color: #007575;
    transform: scale(1.23);
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.4),
        0 10px 20px 5px rgba(0, 0, 0, 0.08),
        -3px -3px 10px 3px rgba(255, 255, 255, 0.4);
}

#add-notification-form input[type="submit"] {
    background-color: #009999;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-notification-form input[type="submit"]:hover {
    background-color: #007575;
    transform: scale(1.23);
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.4),
        0 10px 20px 5px rgba(0, 0, 0, 0.08),
        -3px -3px 10px 3px rgba(255, 255, 255, 0.4);
}

#medName {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3498db; /* Border color */
    border-radius: 5px; /* Rounded corners */
    appearance: none; /* Remove default arrow in some browsers */
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer; /* Show pointer cursor on hover */
}

#medName::after {
    content: '\25BC'; /* Unicode character for a down-pointing triangle */
    font-size: 16px;
    color: #3498db;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure the arrow doesn't interfere with dropdown clicks */
}

#medName:hover {
    border-color: #2980b9; /* Border color on hover */
}

.menu-button-hidden {
    display: none;
}

#period {
    width: 10%; /* Adjust the width as needed */
    margin: 0 auto;
    display: block;
    padding: 10px 20px;
}

#time {
    width: 15%; /* Adjust the width as needed */
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .card {
        padding: 20px;
    }
}

/* table styles */

th, td {
    padding: 15px;
    text-align: left;
}

th {
    border-bottom: 1px solid var(--primary-color);
}

a {
    color: var(--tertiary-color);
    text-decoration: none;
}

@media (max-width: 768px) {
    #medication-list-display {
        justify-content: center;
    }
}